<div class="page">
  <!-- IDO WHAT TO DO WITH THIS YET... -->
  <!-- <div class="user-info">
    <div class="user-name">
      <h4>{{user?.display_name}}</h4>
    </div>
    <img class="user-pic" src="{{user?.images[0].url}}" alt="User Profile Picture">
  </div> -->

  <div class="content">
    <div class="top-artists">
      <div class="subtitle">
        <h2>
          Your Top Artists
          <svg class="bounce" width="26px" height="20px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg>
        </h2>
      </div>
      <div class="cards artists">
        <div class="card" *ngFor="let artist of topArtists">
          <div class="card-header">
            <div class="title">
              <h3>{{artist.name}}</h3>
            </div>
          </div>
          <div class="image">
            <img class="artist-pic" src="{{artist?.images[2].url}}">
          </div>
          <div class="card-content">
            <div class="btn-container">
              <button class="btn-default">
                <span>Top Songs</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg>
              </button>
            </div>
            <div class="btn-container">
              <button class="btn-default">
                <span>Similar Artists</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10"><path d="M1,5 L11,5"></path><polyline points="8 1 12 5 8 9"></polyline></svg>
              </button>
            </div>
          </div>
          <div class="card-footer">
            <a class="spotify-link" href="{{artist?.external_urls?.spotify}}/about" target="_blank">Open in Spotify</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>